<div class="card">
  <a [routerLink]="['/create', element.id]">
    <button>Edit</button>
  </a>
  <button (click)="delete()">Delete</button>
  <a [routerLink]="['/collection', element.id]">
    <div class="card-image">
      <figure class="image is-96x96">
        <img [src]="getClassImage()" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
            <p class="title is-4">{{element.name}}</p>
        </div>
      </div>
  
      <div class="content">
        Level {{element.level}} {{element.race}} {{element.class}}
      </div>
    </div>
  </a>
</div>